{% extends "base.html" %}

{% block content %}
<h1>Hello, {{user}}!</h1>
<h2>{{city}}</h2>

<div>
{{ [1,2,3,4]|join("") }}
</div>

<div>
{% for user in users %}
    <em>To jest {{user}}</em>
{% endfor %}
</div>

<div>
    <p>{{ country['name'] }}</p>
    <p>{{ country.capital }}</p>
</div>
    
{% if is_admin %}
{# extends "card.html" #}
{% else %}
<p>Odmowa dostępu</p>
{% endif %}

<form action="" method="get">
    <div class="input-group my-2" style="max-width: 30rem;">
        <label for="imie" class="input-group-text">Imię</label>
        <input id="imie" name="imie" class="form-control" required type="text" placeholder="Podaj swoję imię">
    </div>
    <div class="input-group my-2" style="max-width: 30rem;">
        <label for="password" class="input-group-text">Hasło</label>
        <input id="password" class="form-control" required type="password" minlength="7" placeholder="Podaj hasło">        
    </div>
    <button class="btn btn-primary" type="submit">Wyślij</button> 
</form>

<h2>Select Form</h2>

<form action="">
    <div>
        <select class="form-select" name="wojewodztwo">
            <option value="slaskie">Śląskie</option>
            <option value="malopolskie">Małopolskie</option>
            <option value="mazowieckie">Mazowieckie</option>
        </select>
        <button type="submit" class="btn btn-primary">Wyślij</button>
    </div>
</form>
{% endblock %}